body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #d6d6d6;
background: radial-gradient(circle,rgb(218, 218, 218) 0%, rgba(163, 163, 163, 1) 44%);
}

nav {
  background: #313131;
background: radial-gradient(circle,rgb(43, 43, 43) 0%, rgba(38, 38, 38, 1) 44%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

nav span{
    color: rgb(214, 67, 214);
    text-shadow: 0px 0px 40px #f6b2ffc0
}


.logo img {
  width: auto;
  height: 140px;
  margin:  -18px -18px -18px 105px;
  
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.listalinks{
  text-decoration: none;
  display: flex;
  gap: 1.3rem;
  list-style: none;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.links a:hover {
  color: rgb(214, 67, 214);
}

.links button {
  background: #5f009eea;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s ease;
}

.links button:hover {
  background: rgb(214, 67, 214);
}

.main-form{
    width: 58%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    margin-top: 70PX;
    align-self: center;
    justify-self: center;
}

.tituloregistro{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.4rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 80px;
  margin-top: -50px;
  color: #25003a;

}

.titulo-form{
    color: black;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
}

.formulario-nom-mail{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

.formulario-nom-mail input{
    width: 300px;
    margin-right: 60px;
    margin-left: 10px;
    border-radius: 12px;
    border: none;
    padding: 3px, 6px, 6px, 6px;
    box-shadow: 8px 8px 10px 0 rgb(187, 187, 187);
    text-align: center;
}

.formulario-contrasena{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    margin-top: 70px;
}
.formulario-contrasena input{
    width: 300px;
    margin-right: 50px;
    margin-left: 10px;
    border-radius: 12px;
    border: none;
    padding: 3px, 6px, 6px, 6px;
    box-shadow: 8px 8px 10px 0 rgb(187, 187, 187);
    text-align: center;
}
.boton-form input{
    width: 700px;
    margin-top: 85px;
    background: #b669e971;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    transition: background 0.3s ease;
}
.boton-form input:hover{
    background: #6402a5ea;
    }

    .cuenta-pregunta{
        margin-top: 20px;
    }
.cuenta-pregunta span{
    font-size: 20px;
}
.cuenta-pregunta a{
    font-size: 20px;
    color: #6402a5ea;
}
.container-all{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.main-login{
  background: #d6d6d6;
background: radial-gradient(circle,rgb(218, 218, 218) 0%, rgba(163, 163, 163, 1) 44%);
}

.imagen-tapia{
  border-radius: 30px;
  
  margin-top: 20px;
  transition: all 0.5s;
}

.imagen-tapia:hover{
  transform: scale(1.12);
  box-shadow: 18px 18px 20px 0 rgb(92, 92, 92);
}

.titulo-login{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2e012e;
  font-size: 1.4rem;
  margin-bottom: -35px;
}
.titulo-login2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2e012e;
  font-size: 1.4rem;
}

.subtitulo-login{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2e012e;
  font-size: 1.1rem;
  width: 600px;
  text-align: center;
}

.container-izq{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
  padding-right: 30px;
  margin-top: 50px;
}

.container-der{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  padding-right: 30px;
  margin-top: 65px;
  gap: 45px;
}

.formulario-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;
}


.login-nom-mail{
display: flex;
flex-direction: column;
gap: 15px;
}

.login-nom-mail b{
  font-size: 1.5rem;
  color: #2e012e;
  margin-left: 50px;
}
.login-nom-mail input{
  color: #2e012e;
  border-radius: 8px;
  border: none;
  width: 550px;
  height: 35px;
  margin-left: 50px;
  text-align: center;
}

.login-contrasena{
display: flex;
flex-direction: column;
gap: 10px;
}

.login-contrasena b{
  font-size: 1.5rem;
  color: #2e012e;
  margin-left: 50px;
}
.login-contrasena input{
  color: #2e012e;
  border-radius: 8px;
  border: none;
  width: 550px;
  height: 35px;
  margin-left: 50px;
  text-align: center;
}

.boton-login input{
    width: 400px; 
    background: #c89be6d3;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    transition: background 0.3s ease;
    margin-top: 25px;
}

.boton-login input:hover{
    background: #6402a5ea;
    }

    .cuenta-pregunta2{

    }

.cardContainer{
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}

.card-producto {
  height: 490px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background: #cb81fd;
  border-radius: 15px;
  margin: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 10px 0 rgb(116, 116, 116);
}

.card-img{
  height: 50%;
  border-radius: 15px;
  padding-bottom: 75px;
}

.card-img img{
  height: auto;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.card-info{
  height: 50%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  margin-top: -30px;
}

.card-info h1{
  text-align: center;
  font-size: 1.1rem;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
  text-decoration: underline;
}
.card-info h3{
  text-align: center;
  font-size: 0.8rem;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -2px;
}

.card-info h2{
  text-align: center;
  font-size: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -2px;
}
.card-info button{
  width: 150px;
    background: #902cbec7;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.85rem;
    transition: background 0.3s ease;
    text-align: center;
    color: #000000;
    font-weight: bold ;
}

.card-info button:hover{
    background: #4e0083;
    }

.card-info a{
  color: #25003a;
  margin-top: 5px;
}

.footer {
    background: #111;
    color: #fff;
    padding: 30px 0;
    margin-top: 40px;
    font-family: Arial, sans-serif;
}

.footer-contenedor {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-col {
    width: 30%;
    min-width: 180px;
    margin-bottom: 10px;
}

.footer-col h3,
.footer-col h4 {
    margin-bottom: 10px;
    color: #902cbec7; 
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 6px;
}

.footer-col ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: white;
}

.footer-copy {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #888;
}